{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bag.css' %}">
{% endblock %}

{% block content %}
    <div class="plate border">
        <div>
            <h1>Your commissions:</h1>
        </div>
        <div>
            {% if bag_items %}
                <div>
                    <table>
                        <tr>
                            <th>Artist name:</th>
                            <th>Option:</th>
                            <th>Commission details:</th>
                            <th>Price:</th>
                        </tr>
                        {% for item in bag_items %}
                        <tr>
                            <td class="artist-name">{{ item.artist_name }}</td>
                            <td class="option">{{ item.commission_option }}</td>
                            <td class="details">{{ item.details }}</td>
                            <td class="price">{{ item.price|floatformat:2 }}</td>
                            <td>
                                <a href="{% url 'edit_bag' item.artist_id %}?details={{ item.details }}">
                                    <button type="button" class="modify-button" 
                                    data-artist_id="{{ item.artist_id }}" 
                                    data-details="{{ item.details }}">
                                        Modify
                                    </button>
                                </a>
                            </td>
                            <td>Delete</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <table>
                        <tr>
                            <td>Bag total:</td>
                            <td>£{{total|floatformat:2}}</td>
                        </tr>
                        <tr>
                            <td>Delivery:</td>
                            <td>£{{delivery|floatformat:2}}</td>
                            {% if free_delivery_delta > 0 %}
                            <td>You could get a free delivery if you spend <strong>£{{ free_delivery_delta }}</strong> more!</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Grand total:</td>
                            <td>£{{grand_total|floatformat:2}}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'artists' %}">Keep Shopping</a>
                                <a href="">Secure Checkout</a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <h2>No commissions found!</h2>
                <a href="{% url 'artists' %}">Do you want to find an artist?</a>
            {% endif %}
        </div>
    </div>

{% endblock %}