{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bag.css' %}">
{% endblock %}

{% block content %}
    <div class="plate border">
        <div id="bag-head-banner">
            <h1 class="title">Your commissions:</h1>
        </div>
        <div id="bag-contents-block">
            {% if bag_items %}
            {% for item in bag_items %}
                <div class="bag-item-line">
                    <table class="bag-item">
                        <tr>
                            <th class="item-table-wide name-title title">Artist name:</th>
                            <th class="item-centre">Option:</th>
                        </tr>
                        <tr>
                            <td class="artist-name item-table-wide">{{ item.artist_name }}</td>
                            <td class="option item-centre">{{ item.commission_option }}</td>
                        </tr>
                        <tr>
                            <th class="item-table-wide">Commission details:</th>
                            <th class="item-centre">Price:</th>
                        </tr>
                        <tr>
                            <td class="details item-table-wide bag-item-details">{{ item.details }}</td>
                            <td class="price item-centre">{{ item.price|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a href="{% url 'edit_bag' item.artist_id %}?details={{ item.details }}&bag_id={{ item.bag_id }}&commission_option={{ item.commission_option }}">
                                    <button type="button" class="modify-button button" 
                                    data-artist_id="{{ item.artist_id }}" 
                                    data-details="{{ item.details }}"
                                    data-bag_id="{{ item.bag_id }}" >
                                        Modify
                                    </button>
                                </a>
                            </td>
                            <td><button type="button" class="delete-button button" data-bag_id="{{ item.bag_id }}">Delete</button></td>
                        </tr>
                    </table>
                    <hr>
                </div>
            {% endfor %}
            <table>
                <tr>
                    <td>Bag total:</td>
                    <td>£{{total|floatformat:2}}</td>
                </tr>
                <tr>
                    <td>Delivery:</td>
                    <td>£{{delivery|floatformat:2}}</td>
                    {% if free_delivery_delta > 0 %}
                    <td>You could get a free delivery if you spend <strong>£{{ free_delivery_delta|floatformat:2 }}</strong> more!</td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Grand total:</td>
                    <td>£{{grand_total|floatformat:2}}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'artists' %}" class="button">Keep Shopping</a>
                        <a href="{% url 'checkout' %}" class="yellow-bg button">Secure Checkout</a>
                    </td>
                </tr>
            </table>
            {% else %}
                <h2>No commissions found!</h2>
                <a href="{% url 'artists' %}">Do you want to find an artist?</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    const deleteButtons = document.querySelectorAll('.delete-button');

    deleteButtons.forEach(button => {
        button.addEventListener('click', () => {
            const bagId = button.getAttribute('data-bag_id');
            const csrfToken = "{{ csrf_token }}";

            fetch(`/bag/remove_commission/${bagId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    button.closest('tr').remove();

                    location.reload();
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
});
</script>
{% endblock %}