{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bag.css' %}">
{% endblock %}

{% block content %}
    <div class="plate border">
        <h1>Edit Your Order for {{ artist.artist_name }}</h1>
        <form>
            <label for="commission-option">Edit Price/Options</label>
            <select id="commission-option" name="commission_option" required>
                {% for key, value in price.items %}
                <option value="{{ key }}">{{ key }} - £{{ value }}</option>
                {% endfor %}
            </select>
            <label>Edit details</label>
            <textarea name="edit-details" id="edit-details" required>{{ details }}</textarea>
            <div id="edit-form-buttons">
                <button type="submit">Confirm Edit</button>
                <a><button>Cancel Edit</button></a>
            </div>
        </form>
    </div>

{% endblock %}