{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/artists_details.css' %}">
{% endblock %}

{% block content %}
    <div class="plate border">
        <div>
            {% if artist.image %}
                <img src="{{ artist.image}}">
            {% else %}
                <p><i>No Image Submitted</i></p>
            {% endif %}
        </div>
        <div>
            <h2 class="">{{ artist.artist_name }}</h2>
            <h3>Description:</h3>
            <p>{{ artist.description }}</p>
        </div>
        <div>
            <div>
                <h3>Do:</h3>
                <p>{{ artist.dos }}</p>
            </div>
            <div>
                <h3>Won't do:</h3>
                <p>{{ artist.donts }}</p>
            </div>
        </div>
        <div>
            <p>{{ artist.price }}</p>
            <form>
                {% csrf_token %}
                {% if tag in "Pins,Misc" %}
                <p>Choose a colour:</p>
                <select>
                    <option>Bronze</option>
                    <option>Silver</option>
                    <option>Gold</option>
                </select>
                {% elif tag in "CD" %} 
                <p>Choose a case:</p>
                <select>
                    <option>Plastic</option>
                    <option>Metal</option>
                </select>
                {% else %}
                    <p>Choose a media:</p>
                    <select>
                        <option>Figure(s)</option>
                        <option>Landscape</option>
                        <option>Object(s)</option>
                    </select>
                {% endif %}
                <textarea placeholder="Please specify your order here..."></textarea>
                <input type="submit" value="Place order!">
            </form>
        </div>
{% endblock %}