{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/artists_details.css' %}">
{% endblock %}

{% block content %}
    <div class="plate border">
        <div>
            {% if artist.image %}
                <img src="{{ artist.image}}">
            {% else %}
                <p><i>No Image Submitted</i></p>
            {% endif %}
        </div>
        <div>
            <h2 class="">{{ artist.artist_name }}</h2>
            <h3>Description:</h3>
            <p>{{ artist.description }}</p>
        </div>
        <div>
            <div>
                <h3>Do:</h3>
                <p>{{ artist.dos }}</p>
            </div>
            <div>
                <h3>Won't do:</h3>
                <p>{{ artist.donts }}</p>
            </div>
        </div>
        <div>
            <form>
                {% csrf_token %}
                    <p>Choose a option and price for it:</p>
                    <select>
                        {% for key, value in price.items %}
                        <option value="{{ key }}">{{ key }} - £{{ value }}</option>
                        {% endfor %}
                    </select>
                <textarea placeholder="Please specify your order here..."></textarea>
                <input type="submit" value="Place order!">
            </form>
        </div>
{% endblock %}