{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/artists_list.css' %}">
{% endblock %}

{% block content %}
    <div id="sorting-by-div">
        <p>Sort by:</p>
        <a href="{% url 'artists' %}{% if tag %}?tag={{tag}}{% endif %}">All Artists</a>
        <a href="{% url 'artists' %}?{% if tag %}tag={{ tag }}&{% endif %}sort=price_low">Price Low to High</a>
        <a href="{% url 'artists' %}?{% if tag %}tag={{ tag }}&{% endif %}sort=price_high">Price High to Low</a>
    </div>

    <div class="border plate">
        {% for artist in artists %}
            <div class="card border">
                <div>
                    <a href="#"><h2 class="card-title">{{ artist.artist_name }}</h2></a>
                </div>
                <div>
                    {% if artist.image %}
                    <img src="{{ artist.image}}">
                    {% else %}
                    <p><i>No Image Submitted</i></p>
                    {% endif %}
                </div>
                <div>
                    <div>
                        <h3>Description:</h3>
                        {{ artist.description }}
                    </div>
                    <div>
                        <div>
                            <h3>Do:</h3>
                            {{ artist.dos }}
                        </div>
                        <div>
                            <h3>Won't do:</h3>
                            {{ artist.donts }}
                        </div>
                    </div>
                    <div>
                        {{ artist.price }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}