#delivery_advert{
    background-color: #6b5e49;
    width: 100%;
    height: 100%;
    color: #e9e9e9;
    margin-bottom: 10px;
}

#delivery_advert h3{
    margin: 0;
    padding: 10px 0;
    font-size: 24px;
}

#sorting-by-div{
    position: sticky;
    width: 90%;
    margin: auto;
}

.card{
    display: inline-block;
    width: 45%;
    margin: 10px auto;
    padding: 5px;
}

.card-title{
    font-family: "Nokora", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    padding: 4px;
    margin: 0;
}

#sorry-search{
    width: 100%;
}

#sorry-search h2{
    text-decoration: underline;
}

@media only screen and (max-width: 600px){

    .card{
        width: 90%;
    }

    .card-title{
        font-size: 18px;
    }
}