.card{
    display: inline-block;
    width: 45%;
    margin: 10px auto;
    padding: 5px;
}

.card-title{
    font-family: "Nokora", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    padding: 4px;
    margin: 0;
}

#sorry-search{
    width: 100%;
}

#sorry-search h2{
    text-decoration: underline;
}

@media only screen and (max-width: 600px){

    .card{
        width: 90%;
    }

    .card-title{
        font-size: 18px;
    }
}