/* -------------------------------------------- general */

body{
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1a1a1a;
}

.border{
    border-top: 4px solid #3d2f29;
    border-right: 4px solid #3d2f29;
    border-bottom: 4px solid #857a58;
    border-left: 4px solid #857a58;
    box-sizing: border-box;
}

.border:hover{
    border-top: 4px solid #7a6e4b;
    border-right: 4px solid #7a6e4b;
    border-bottom: 4px solid #aca875;
    border-left: 4px solid #aca875;
}

.title{
    font-family: "Nokora", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.margin{
    margin: 15px 10px;
}

#content{
    flex:1;
}

.plate{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.plate a{
    color: #1a1a1a;;
}

.centre{
    text-align: center;
}

.yellow-bg{
    cursor: pointer;
}

.yellow-bg:hover{
    background-color: #eded4e;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
    from {background-color: #e0e0e0}
    to {background-color: #eded4e;}
}

/* -------------------------------------------- header */

#logo-img{
    width: 90px;
    height: 90px;
}

#site-title{
    padding: 0;
    margin: auto 0 auto 5px;
}


.header{
    color: #1a1a1a;
    align-items: center;
}

.header div{
    height: auto;
}

.header a{
    color: #1a1a1a;
    text-decoration: none;
}

.header a:visited{
    color: #1a1a1a;
}

#header-large{
    display: flex;
    flex-direction: column;
}

#header-top{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 90px;
}

#header-bottom{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    height: 90px;
    width: 100%;
    background-color: #0c0c0c;
    color: #e9e9e9;
}

#header-bottom a{
    color: #e9e9e9;
}

#header-bottom a:visited{
    color: #e9e9e9;
}

#filter-container{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.menu-drop{
    margin: auto;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.menu-drop:hover,
.nav-dropdown td:hover{
    text-decoration: underline 5px solid #6b5e49;
}

.nav-dropdown{
    position: absolute;
    left: 0;
    z-index: 1;
    display: none;
    border: 0;
    border-spacing: 0;
}

.nav-dropdown tr td{
    background-color: #0c0c0c;
    padding: 15px;
    border-spacing: 0;
}

.menu-drop:hover .nav-dropdown{
    display: block;
}

#search-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#branding{
    width: 70%;
    display: flex;
    flex-direction: row;
}

#login-div{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

#login-div:hover{
    border-right: 5px solid #3d2f29;
    border-left: 5px solid #aca875;
    box-sizing: border-box;
}

#login-div a{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    height: fit-content;
    flex: 1;
    font-size: 18px;
}

#checkout-link{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    height: fit-content;
    flex: 1;
    font-size: 18px;
}

#checkout-link:hover{
    border-right: 5px solid #3d2f29;
    border-left: 5px solid #aca875;
    box-sizing: border-box;
}

/* -------------------------------------------- footer */

#footer{
    width: 100%;
    background-color: #0c0c0c;
    color: #e9e9e9;
    display: flex;
    flex-direction: row;
    
    right: 0;
    bottom: 0;
    align-items: center;
}

.footer-div{
    width: 50%;
}

#footer-links{
    list-style: none;
    color: #e9e9e9;
}

#footer-links:active{
    color: #e9e9e9;
}

#footer-links:visited{
    color: #e9e9e9;
}

/* -------------------------------------------- messages */

.message-container {
    position: fixed;
    top: 5%;
    right: 50%;
    z-index: 1000;
    width: 300px;
    height: 200px;
    margin-right: -150px;
}

.message {
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #1a1a1a;
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Smooth fade-out */
}

.message.success {
    background-color: #e0e0e0;
}

.message.error {
    background-color: #dc3545;
}

.message.warning {
    background-color: #e0e0e0;
}

.message.info {
    background-color: #e0e0e0;
}

@media only screen and (max-width: 600px){

    #logo-img{
        width: 80px;
        height: 90px;
    }

    #branding a{
        font-size: 28px;
    }

    #login-div a{
        font-size: 16px;
    }


    #header-bottom{
        flex-direction: column;
        flex: 1;
    }

    #filter-container{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
        text-align: center;
        height: fit-content;
        flex: 1;
        margin: auto;
        padding: 5px;
    }

    #filter-container p{
        padding: 0 3px;
    }

    #search-nav{
        padding: 5px;
        width: 75%;
    }

    .plate{
        width: 90%;
    }
}