#profile-banner{
    width: 100%;
    background-color: #0c0c0c;
    color: #e9e9e9;
}

#profile-options{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.no-style{
    list-style: none;
    padding: 0;
}

.sub-title{
    background-color: #0c0c0c;
    color: #e9e9e9;
    font-size: 28px;
}

/* General form container styling */
#service-form {
    width: 100%;
    background-color: #6b5e49; /* Main background */
    padding: 20px;
    color: #e2e1e1; /* Text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* Form title styling */
#service-form-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #e2e1e1;
    margin: auto;
    margin-bottom: 20px;
}

.form-options{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #e2e1e1;
    margin-bottom: 5px;
}

.form-options h3{
    text-align: center;
    width: 100%;
    margin: auto;
}

form div{
    margin: 5px 0;
}

label{
    padding: 5px 0;
}

#create-cancel-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#create-button{
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
    border: solid 2px #0c0c0c;
    border-radius: 4px;
    font-size: 24px;
}

#cancel-button{
    color: #e2e1e1;
    padding: 5px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    border: solid 2px #0c0c0c;
    background-color: #b93131;
    border-radius: 4px;
    font-size: 24px;
}

.form-title{
    font-family: "Nokora", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    margin: 25px 0 5px;
}

#edit-div-title{
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#edit-div{
    display: none;
    justify-content: space-evenly;
}

#delete-div-title{
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#delete-div{
    display: none;
}

#profile-options .toggle-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.title-style .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.title-style.active .arrow {
    transform: rotate(180deg);
}

.title-style{
    cursor: pointer;
    background-color: #6b5e49;
    color: #e9e9e9;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.title-style:hover{
    background-color: #0c0c0c;
}

h3{
    width: 80%;
    max-width: 350px;
}

h2{
    width: 80%;
    max-width: 400px;
}

.service-card-cont{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-card{
    width: 40%;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
}

.service-card a{
    text-decoration: none;
}

.service-card-subtitle{
    font-family: "Nokora", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}

@media only screen and (max-width: 600px){
    .service-card{
        width: 80%;
    }
}