{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div id="profile-options" class="plate centre">
    <div>
        <h1 class="title">{{ request.user.username }}'s Profile Page</h1>
    </div>
    <div>
        <h2>Manage services nav-dropdown</h2>
        <ul>
            <li>
                <div>
                    <h3>Create a service</h3>
                </div>
            </li>
            <li>
                <div>
                    <h3>Edit a service</h3>
                </div>
            </li>
            <li>
                <div>
                    <h3>Delete a service</h3>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}