{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div id="profile-options" class="plate centre">
    <div>
        <h1 class="title">{{ request.user.username }}'s Profile Page</h1>
    </div>
    <div>
        <h2>Manage services nav-dropdown</h2>
        <ul>
            <li>
                <div>
                    <a href="{% url 'create' %}"><h3>Create a service</h3></a>
                </div>
            </li>
            <li>
                <div>
                    <h3 id="edit-div-title">Edit a service</h3>
                    <div id="edit-div">
                        {% if user.artists.all %}
                            <ul>
                                {% for artist in user.artists.all %}
                                    <li>
                                        <div>
                                            <a href="{% url 'edit' artist.pk %}">
                                                {{ artist.description }}
                                            </a>
                                            <ul>
                                                {% for key, value in artist.price.items %}
                                                    <li>{{ key }} - £{{ value|floatformat:2 }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                        {% else %}
                            <li>No services found.</li>
                            <li>Do you want to <a href="{% url 'create' %}">create one?</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <h3>Delete a service</h3>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script>
    // Hide and reveal edit list on click
    document.getElementById("edit-div-title").addEventListener("click", hideShowEdit);

    function hideShowEdit(){
        var editDiv = document.getElementById("edit-div")
        if (editDiv.style.display === "none" || editDiv.style.display === ""){
            editDiv.style.display = "flex"
        }
        else {
            editDiv.style.display = "none"
        }
    }
</script>
{% endblock %}