{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div id="profile-options" class="plate centre border">
    <div id="profile-banner">
        <h1 class="title">{{ request.user.username }}'s Profile Page</h1>
    </div>

    <div>
        <h2 class="title toggle-title title-style">
            Manage services <span class="arrow">▼</span>
        </h2>
        <ul class="no-style toggle-content">
            <li>
                <div id="create-service">
                    <a href="{% url 'create' %}"><h3 class="sub-title title-style">Create a service</h3></a>
                </div>
            </li>
            <li>Or</li>
            <li>
                <div>
                    <h3 id="edit-div-title" class="sub-title title-style">Edit a service <span class="arrow">▼</span></h3>
                    <div id="edit-div" class="service-card-cont">
                        {% if user.artists.all %}
                                {% for artist in user.artists.all %}
                                <ul class="no-style service-card border">
                                    <li>
                                        <a href="{% url 'edit' artist.pk %}">
                                            <div>
                                                <h4 class="service-card-subtitle">Service description:</h4>
                                                <p>
                                                    {{ artist.description }}
                                                </p>
                                                <p class="service-card-subtitle">Option/price:</p>
                                                <ul>
                                                    {% for key, value in artist.price.items %}
                                                        <li>{{ key }} - £{{ value|floatformat:2 }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                {% endfor %}
                        {% else %}
                        <ul class="no-style centre">
                            <li class="li-100-width">No services found to edit!</li>
                            <li class="li-100-width">Do you want to <a href="{% url 'create' %}">create one?</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <h3 id="delete-div-title" class="sub-title title-style">Delete a service <span class="arrow">▼</span></h3>
                    <div id="delete-div">
                        <ul class="no-style service-card-cont">
                        {% if user.artists.all %}
                            {% for artist in user.artists.all %}
                                <li class="service-card border">
                                    <div>
                                        <h4 class="service-card-subtitle">Service description:</h4>
                                        <p>
                                            {{ artist.description }}
                                        </p>
                                        <p class="service-card-subtitle">Option/price:</p>
                                        <ul>
                                            {% for key, value in artist.price.items %}
                                                <li>{{ key }} - £{{ value|floatformat:2 }}</li>
                                            {% endfor %}
                                        </ul>
                                        
                                        <form method="post" action="{% url 'delete' artist.pk %}" onsubmit="return confirm('Are you sure you want to delete this post?');">
                                            {% csrf_token %}
                                            <button type="submit" class="delete-btn">Delete</button>
                                        </form>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="li-100-width">No services found to delete!</li>
                            <li class="li-100-width">Do you want to <a href="{% url 'create' %}">create one?</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <a href="{% url 'order_list' %}">
            <h2 class="title title-style">View past orders</h2>
        </a>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script>
    document.getElementById("edit-div-title").addEventListener("click", function () {
        toggleSection("edit-div", this);
    });

    document.getElementById("delete-div-title").addEventListener("click", function () {
        toggleSection("delete-div", this);
    });

    function toggleSection(divId, titleElement) {
        var section = document.getElementById(divId);
        if (section.style.display === "none" || section.style.display === "") {
            section.style.display = "flex";
            titleElement.classList.add("active");
        } else {
            section.style.display = "none";
            titleElement.classList.remove("active");
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        const toggleTitle = document.querySelector(".toggle-title");
        const toggleContent = document.querySelector(".toggle-content");

        toggleTitle.addEventListener("click", function () {
            toggleContent.style.display = toggleContent.style.display === "block" ? "none" : "block";
            toggleTitle.classList.toggle("active");
        });
    });
</script>
{% endblock %}